.menu {
    width: 32.9375rem;
    padding: 0;
    margin: auto;
    display: flex;
    justify-content: space-between;
      
}
.link {
    text-decoration: none;
    color: $Dark-50;
    font-family: $font-stack-Montserrat;
    font-size: 14px;
}

