header.header
  div.header__cell
    img.header__logo(src="media/Logo.svg", alt="")
    nav.nav              
      mixin menu__item(name, href)
        li.menu__item
          a.link(href=href)= name
      ul.menu
          +menu__item('Home', '#') 
          +menu__item('About Us', '#')
          +menu__item('Services', '#')
          +menu__item('Careers', '#')
          +menu__item('News', '#')
          +menu__item('Documentation', '#')