.menu {
    list-style-type: none;
    width: 447px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.menu__item {
    font-family: $font-stack-Montserrat;
    font-size: 14px;
}
.link {
    text-decoration: none;
    color: $Dark-50;
}