@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    src: url('./templates/fonts/Quicksand-Bold.woff') format('woff');
    src: url('./templates/fonts/Quicksand-Bold.svg') format('svg');
    src: url('./templates/fonts/Quicksand-Bold.ttf') format('truetype');
    }
@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    src: url('./templates/fonts/Quicksand-Regular.woff') format('woff');
    src: url('./templates/fonts/Quicksand-Regular.svg') format('svg');
    src: url('./templates/fonts/Quicksand-Regular.ttf') format('truetype');
    }
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('./templates/fonts/Montserrat-Bold.woff') format('woff');
    src: url('./templates/fonts/Montserrat-Bold.svg') format('svg');
    src: url('./templates/fonts/Montserrat-Bold.ttf') format('truetype');
    }
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('./templates/fonts/Montserrat-Regular.woff') format('woff');
    src: url('./templates/fonts/Montserrat-Regular.svg') format('svg');
    src: url('./templates/fonts/Montserrat-Regular.ttf') format('truetype');
    }